body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(246, 248, 255);
}

.header {
  background-color: rgb(35, 35, 58);
  color: white;
}

.header .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
}

.location-input-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

input#location {
  all: unset;
  background-color: rgba(135, 135, 219, 0.288);
  padding: 6px 10px;
  border-radius: 8px;
}

input#location:focus {
  box-shadow: 0px 0px 8px rgb(57, 65, 139);
}

.container > .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 0px 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-text {
  font-size: 22px;
}

.weather-current-container {
  background-color: rgb(181, 201, 255);
  border-radius: 8px;
  padding: 16px;
  margin-top: 32px;
}

.weather-current-content {
  display: flex;
  flex-direction: column;
}

.current-temp-img {
  width: 128px;
}

.location-text {
  display: flex;
  flex-direction: column;
}

.city-text {
  font-size: 32px;
}

.country-text {
  font-size: 20px;
}

.current-time,
.current-weather-state {
  font-size: 18px;
  color: rgb(84, 108, 175);
}

.current-weather-state::first-letter,
.hourly-weather-state::first-letter {
  text-transform: capitalize;
}

.weather-current-stats {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 32px;
  font-weight: bold;
}

.weather-daily-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weather-daily-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  column-gap: 32px;

  overflow-x: auto;
  background-color: rgb(170, 204, 255);
  padding: 6px;
  border-radius: 8px;
}

.weather-daily-card {
  display: flex;
  flex-direction: column;
  min-width: 80px;
  padding: 8px 6px;
  border-radius: 8px;
}

.weather-daily-card:hover {
  cursor: default;
  background-color: rgb(212, 231, 255);
}

.day-text {
  font-size: 1rem;
  text-align: center;
}

.temp-high {
  font-size: 24px;
  font-weight: bold;
}

.temp-low {
  font-size: 16px;
  color: rgb(78, 101, 151);
}

.temp-high,
.temp-low {
  text-align: center;
}

.weather-hourly-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 32px;
}

.weather-hourly-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.weather-hourly-card {
  padding: 12px 18px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: "hour img" "temp img" "state img";

  row-gap: 4px;
}

.temp {
  grid-area: temp;
}

.hour-text {
  grid-area: hour;
}

.hourly-weather-state {
  grid-area: state;
  color: rgb(50, 49, 58);
  align-self: flex-end;
}

.img-hourly {
  grid-area: img;
}

.temp {
  font-size: 24px;
  font-weight: bold;
}

.weather-hourly-card:nth-child(1n) {
  background-color: rgb(215, 216, 255);
}

.weather-hourly-card:nth-child(2n) {
  background-color: rgb(185, 182, 245);
}

.weather-current-container,
.weather-daily-content,
.weather-hourly-content {
  box-shadow: 0px 0px 7px -4px rgb(207, 211, 221);
}

@media only screen and (min-width: 800px) {
  .weather-daily-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
  }

  .weather-current-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .container > .wrapper {
    padding: 0px 64px;
  }
}
